html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}

.container {
    width: 635px;
    height: 100%;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0px;
    ;
    background-color: white;
}

.container1 {
    width: 635;
    background-color: white;
    display: block;
    margin: 0 auto;
}

.Instalogo {
    width: 180px;
    padding: 12px 20px;
}

.user-info {
    display: flex;
    justify-content: start;
    align-items: center;

}

.avatarImg {
    border-radius: 50%;
    width: 70px;
    padding: 10px;
    margin-left: 12px;
}

.user-info-text {
    margin: 0;
    padding: 0px;
    font-size: 20px;

}

.user-info-text h4,
.user-info-text h5 {
    margin: 6px;
}

.user-info-text h5 {
    font-weight: lighter;
}

.postImage {
    width: 634px;
    border: 1px solid rgb(235, 232, 218);
    border-radius: 10px;
    background-color: white;
}

.icons {
    display: flex;
    padding: 10px 0;
}

.icon-heart,
.icon-comment,
.icon-dm {
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 18px;
}

.icon-heart:hover,
.icon-comment:hover,
.icon-dm:hover {
    width: 42px;
    height: 42px;
    border-radius: 5px 5px 35px 35px;
    padding: 2px;
    background-color: rgba(255, 99, 71, 0.8);
    transition: background-color 1.3s, width 0.3s,
        height 0.3s, padding 0.3s;
    cursor: pointer;
}

.bold-text {
    font-weight: bold;
    padding: 15px 9px 15px 15px;
    font-size: 18px;
}

.comment {
    font-size: 18px;
    background-color: white;
}

.comment-section {
    padding: 0px 0px 10px 0px;
}

.space {
    width: 635px;
    height: 1.3px;
    background-color: rgba(211, 211, 211, 0.3);
}